:root{
    /*min-width: 719px;*/
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    min-width: 827px;
    /*height: 100%;*/


    
 
    --app-background : #eae6df;
    --app-background-deeper : #d1d7db;
    /*background-color: blue;*/
}





body{

    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 0px;
    margin-right: 6px;
    margin-top: 0px;
    margin-bottom: 0px;
    /*min-width: 827px;*/
    /*background-color: green;*/


    background-color: var(--app-background);
    background-image: linear-gradient( 180deg, var(--app-background),var(--app-background-deeper));
    background-repeat: no-repeat;
    background-size: cover;  /* auto*/
    font-family: 'Segoe UI','Helvetica Neue',Helvetica,'Lucida Grande',Arial,'Fira Sans',sans-serif;

  

    /*overflow: hidden;*/
}

/* Réglage de l'entete verte */

div[id="header"]::before{
    display: flex;
    flex: 1;
    background-color: #00a884;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-width: 827px;

    height: 222px;
    content: "";
    z-index: -1;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

div[id="header"]{
    display: flex;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    /*background-color: red;*/
    /*margin-top: 27px;*/
    z-index: 2;
}

header{
    display: flex;
    width: 1050px;
    justify-content: flex-start;
    align-items: center;
    height: 39px;
    margin: 27px auto 28px ;
   /* border: 2px solid blue;*/
}

header svg{
    /*margin-left: 150px; */
    width: 39px;
    height: 39px;
}

header p{
    /* margin-left: 14px;
        /*display: inline-block;
    font-size: 14px;
    font-weight: 500px;
     */
    font-family: inherit;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    color: #fff;
    text-transform: uppercase;
    vertical-align: middle;
    margin-left: 14px;
}

div[id="main"]{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    max-width: 909px;
    min-width: 727px;
    height: 896px;
    margin: auto;
    background-color: white;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 17px 50px 0 rgb(11 20 26 / 19%), 0 12px 15px 0 rgb(11 20 26 / 24%);
    margin-bottom: 100px;

    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;

}

section[id="firstSection"]{
    display: flex;
    /*flex: 1;*/
    flex-direction: column;
    align-items: stretch ;
    justify-content: space-between;
    max-width: 789px;
    min-width: 607px;

    height: 264px;
    background-color: white;
    padding: 64px 60px 110px;
    margin: auto;
    margin-left: 0px;
    margin-right: 0px;
    /*position: absolute;
    z-index: 2;*/
    
    border-radius: 3px 3px 0px 0px;
    /*box-shadow: 5px 5px 5px black;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px; */
}

section[id="firstSection"] a{
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    color: #008069;
    text-decoration: none; 
    /*position: absolute;
    left: 60px;
    bottom: 66px;*/
    text-align: justify;
    margin-top: 10px;
    padding-top: 0px;
    /*margin-top: 30px;*/
 }
 /* Réglage du lien */
 @media screen and (max-width: 926px)
{
    section[id="firstSection"] a{
        display: inline-block;
        font-size: 14px;
        line-height: 1;
        color: #008069;
        text-decoration: none; 
        /*position: absolute;
        left: 60px;
        bottom: 66px;*/
        text-align: justify;
        margin-top: 40px;
        padding-top: 0px;
        /*margin-top: 30px;*/
     }
}

div[id="instructionAndQrCode"]{
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
    /*background-color: blue;*/
    /*max-width: 909px;*/
    height: 264px;
    /*justify-content: flex-end;*/
    /*align-items: flex-start;*/
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
    
    
}

div[id="instruction"]{
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    /*flex-wrap: wrap;*/
    flex: 1;
    /*max-width: 465px;*/
    height: 255px;
    margin-top: 0px;
    margin-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    /*background-color: yellow;*/
    
}
div[id="instruction"] h1{
    display: flex;
    /*flex: 1;*/
    flex-wrap: wrap;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 90px;
    margin-bottom: 52px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;

   /* width: 465px;
    height: 37px;*/

    font-size: 28px;
    font-weight: 300;
    line-height: normal;
    color: #41525d;
    vertical-align: initial;
    outline: none;
    /*font-family: "Segeo UI";*/
}
div[id="instruction"] ol{
    /*margin-block-start: 2em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;*/
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    list-style-type: decimal;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 24px;
    height: 166px;
    /*background-color: blue;*/
    
}

div[id="instruction"] li{
    flex-wrap: wrap;
   font-size: 18px;
   line-height: 28px;
   color: #3b4a54;
   /*display: list-item;*/
   list-style-position: outside;
   /*margin-bottom: 10px;*/

   /*unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;*/
}

strong{
    font-weight: 500;
}

span{
    display: inline-block;
    vertical-align: top;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;

}

img{
    /*margin-left: 65px;*/
    margin-left: 4px;

    margin-right: 0px;
}

/* 2nd part */

section[id="secondSection"]{

    max-width: 789px;
    min-width: 607px;

    height: 314px;
   /* background-color: rgba(11,20,26,.025);*/
    padding: 72px 60px;
    margin: auto;
    border-radius: 0px 0px 3px 3px;
    /*position: relative;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

}
section[id="secondSection"] video{
    width: 560px;
    height: 314px;
    /*background-color: rgba(11,20,26,.025);*/
    /*padding: 72px 60px;*/
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
}


button[id="play"]{
    position: absolute;
    left: 640px;
    top: 720px;
    z-index: 3;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(11,20,26,.45);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}


span[id="logoPlay"]{
    margin-left: 5px;
}